# PIPELINE

## IMPORT TOOLS

In [1]:
PATH = "/Users/arnaudalepee/repos/ds_ci_cd/"
import sys
sys.path.append(PATH+"Tools_pandas/")

In [2]:
from DataInit import DataInit
from DataTransformation import DataTransformation
from Model import Model

## DATA INITIALIZATION

In [3]:
init = DataInit(PATH+"data/titanic.csv","Survived",0.7,"\t")
init.run()

## DATA TRANSFORMATION

In [4]:
trans = DataTransformation(init)
trans.run()

In [5]:
trans.test_data

     Age  Sex  Fare  Survived
96     3    0     2         0
69     1    0     1         0
82     1    1     0         1
76     1    0     0         0
114    0    1     1         0
29     1    0     0         0
94     3    0     0         0
132    3    1     1         0
93     1    0     1         0
139    1    0     2         0
19     1    1     0         1
90     2    0     0         0
15     3    1     1         1
125    0    0     1         1
24     0    1     1         0
30     3    0     2         0
119    0    1     2         0
101    1    0     0         0
152    3    0     0         0
78     0    0     2         1
98     3    1     1         1
18     2    1     1         0
12     0    0     0         0
9      0    1     2         1
31     1    1     2         1
104    3    0     0         0
68     0    1     0         1
55     1    0     2         1
51     0    0     0         0
97     1    0     2         1
..   ...  ...   ...       ...
151    1    1     2         1
142    1    1     1         1
47     1    1     0         1
112    1    0     0         0
61     3    1     2         1
73     1    0     1         0
33     3    0     1         0
143    0    0     0         0
145    0    0     2         0
62     3    0     2         0
154    1    0     0         0
95     1    0     0         0
53     2    1     1         1
5      1    0     1         0
108    3    0     0         0
126    1    0     0         0
49     0    1     1         0
35     3    0     2         0
80     1    0     1         0
77     1    0     0         0
34     2    0     2         0
46     1    0     1         0
7      0    0     1         0
43     0    1     2         1
70     2    0     1         0
113    0    1     1         0
91     0    0     0         0
83     2    0     2         0
140    1    1     1         0
141    1    1     0         1

[110 rows x 4 columns]

## MODEL

In [6]:
model = Model(trans)
model.run()

[[61 10]
 [13 26]]
Gini test:  0.5258215962441313